PORT=3000
FRONTEND_URL=https://hosteldine-six.vercel.app
CORS_ORIGIN=https://hosteldine-six.vercel.app

DB=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

ACCESS_TOKEN_SECRET="your_access_token_secret"
ACCESS_TOKEN_EXPIRY="1d"
REFRESH_TOKEN_SECRET="your_refresh_token_secret"
REFRESH_TOKEN_EXPIRY="7d"

# Redis Configuration
REDIS_HOST=your_redis_host
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password
REDIS_URL=redis://default:your_redis_password@your_redis_host:6379
