@import "tailwindcss";

@theme {
  --color-primary: #2563eb; /* blue-600 */
  --color-primary-hover: #1d4ed8; /* blue-700 */
  --color-secondary: #f8fafc; /* slate-50 */
  --color-text-main: #1e293b; /* slate-800 */
  --color-text-muted: #64748b; /* slate-500 */
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-text-main);
  background-color: var(--color-secondary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
